<form class="well span8" method="post" action="/paste">
  <div class="row">

	<label>Title</label><input type="text" name="title" class="form-control" placeholder="Title" /><br />
	<label>Text</label><textarea name="text" class="form-control" placeholder="Paste here your script"></textarea><br />
	<label>Syntax highlighting</label>
	<select name="syntax">
		<option value="none">None</option>
		<option value="markup">HTML</option>
		<option value="css">CSS</option>
		<option value="javascript">Javascript</option>
		<option value="cofeescript">Cofeescript</option>	
		<option value="java">Java/Scala</option>
		<option value="php">PHP</option>
		<option value="python">Python</option>
		<option value="ruby">Ruby</option>
		<option value="c">C</option>
		<option value="cpp">C++</option>
		<option value="csharp">C#</option>
		<option value="go">Go</option>
		<option value="sql">SQL</option>
		<option value="bash">Bash</option>
	</select><br />
	<label>Private</label>
		<input type="checkbox" name="private" value="true" /><br />
	
	<input type="submit" class="btn btn-default" value="Send">
	</div>
</form>
