<form method="post" action="/paste">
	Title <input type="text" name="title" /><br />
	<textarea name="text"></textarea><br />
	Private <input type="checkbox" name="private" value="true" /><br />
	<input type="submit" value="Send">
	
</form>